.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  margin: -38px 413px 48px auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 213px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}