.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-text-1 {
  margin: 25px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: -92px auto 55px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}