 .u-section-1 {
  min-height: 329px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1174px);
  margin: 1px auto 1px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 357px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 357px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 626px;
  height: 259px;
  margin: 0 auto 0 -36px;
}

.u-section-1 .u-group-1 {
  min-height: 71px;
  height: auto;
  width: 876px;
  box-shadow: 0 0 16px 0 rgba(128,128,128,0.45);
  margin: -2px auto 0 -452px;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 19px 12px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 967px;
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2) + -27px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 312px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 312px;
  }

  .u-section-1 .u-image-2 {
    height: 195px;
    width: 533px;
    margin-right: -47px;
    margin-left: -23px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-left: -438px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-1 .u-image-2 {
    width: 333px;
    height: 122px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 333px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 357px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 348px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 386px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin: 1px auto 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 249px;
  }

  .u-section-1 .u-image-2 {
    width: 338px;
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 85px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 843px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 917px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2109px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1332px;
}

.u-section-3 .u-text-1 {
  margin: 1px 0 0;
}

.u-section-3 .u-image-1 {
  width: 139px;
  height: 141px;
  margin: -189px 494px 50px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1381px;
  }

  .u-section-3 .u-image-1 {
    width: 116px;
    height: 117px;
    margin-top: -186px;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1506px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 320px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 1px;
  margin-bottom: 32px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 287px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-1 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-2 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 0;
}

.u-section-4 .u-image-3 {
  height: 213px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 237px;
  }

  .u-section-4 .u-image-1 {
    height: 169px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
  }

  .u-section-4 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 545px;
  }

  .u-section-4 .u-image-1 {
    height: 200px;
  }

  .u-section-4 .u-image-2 {
    height: 200px;
  }

  .u-section-4 .u-image-3 {
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 347px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 347px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 214px;
  }

  .u-section-4 .u-image-2 {
    height: 214px;
  }

  .u-section-4 .u-image-3 {
    height: 214px;
  }
}