.u-section-1 .u-sheet-1 {
  min-height: 772px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  margin: -67px auto 55px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}