.u-section-1 .u-sheet-1 {
  min-height: 994px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-size: 1.25rem;
  margin: -34px auto 30px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}