 .u-section-1 {
  min-height: 499px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 499px;
  background-image: url("images/pexelsphoto4159451.jpeg");
  background-position: 17.66% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 499px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 90px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 25px auto 0;
}

.u-section-1 .u-image-2 {
  min-height: 499px;
  background-image: url("images/pexelsphoto4159451.jpeg");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 411px;
  }

  .u-section-1 .u-image-2 {
    min-height: 411px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 414px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 1013px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 852px;
  }

  .u-section-1 .u-image-1 {
    min-height: 186px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 12px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-image-2 {
    min-height: 398px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1002px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 9px 228px 0 161px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 879px;
  margin: -29px auto 0 125px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-2 .u-image-1 {
  width: 704px;
  height: 454px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 83px auto 0;
}

.u-section-2 .u-image-2 {
  width: 270px;
  height: 319px;
  margin: -533px 20px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 375px;
  height: 233px;
  margin: -294px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.u-section-2 .u-text-2 {
  margin: -30px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 401px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-image-4 {
  width: 75px;
  height: 76px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -912px 38px 836px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 128px;
    margin-left: 61px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: 61px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 564px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.125rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 286px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 348px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -427px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 287px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1583px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 349px;
    margin-top: -40px;
    margin-right: -9px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 219px;
    margin-top: 205px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 211px;
    margin-top: -714px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 557px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: 463px 14px -344px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 328px;
    margin-bottom: -328px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 328px;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-3 .u-sheet-1 {
  min-height: 614px;
}

.u-section-3 .u-list-1 {
  margin: 10px 0;
}

.u-section-3 .u-repeater-1 {
  min-height: 303px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-auto-columns: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 345px;
  margin: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 30px 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-icon-1 {
  width: 16px;
  height: 22px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 345px;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 30px 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 345px;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 30px 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 345px;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 30px 0 0;
  padding: 8px 28px 8px 27px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-image-1 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 277px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 446px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 446px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 446px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 351px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 17px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-image-2 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-image-4 {
    height: 216px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 20px;
    margin-right: auto;
  }
}