.u-section-1 .u-sheet-1 {
  min-height: 891px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.25rem;
  margin: -183px auto 34px 453px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-2 {
    margin-left: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-2 {
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1881px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -208px;
    margin-bottom: 59px;
    margin-left: 65px;
  }
}